{*margin:0px; padding:0px}
.margint{
    margin-top: 7%;
}
.margint2{
    margin-top: 3%;
}

.colorr{
	background-color:#F8F8F8 ;
}


.fonts{
    color: black;
    font-size: 20px;
}
.footer{
    color: black;
}

.area1{

	height:150px;
	
}
.area2{

	height:150px;
	
}

.area{
	height:140px;

}


.first{
	 border-radius: 20px;
 	background-color:#B0B0B0 ;
	border: 5px solid #808080 ;
	margin-right:11%;

	
	
}
.second{
	 border-radius: 20px;
	background-color:#B0B0B0 ;
	border: 5px solid #808080;
	margin-right:11%;
}
.third{
	 border-radius: 20px;
	background-color:#B0B0B0 ;
	border: 5px solid #808080 ;
}
.fourth{
	 border-radius: 20px;
	background-color:#B0B0B0 ;
	border: 5px solid #808080 ;
	margin-right:11%;
}
.fifth{
	 border-radius: 20px;
	background-color:#B0B0B0 ;
	border: 5px solid #808080 ;
	margin-right:11%;
}
.sixth{
	 border-radius: 20px;
	background-color:#B0B0B0 ;
	border: 5px solid #808080 ;
}


.button{
	border-radius: 20px;
	background-color:#C1C1C1;

}

